<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSegmentAndRefreshTableViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E8766771E9B7757004D6888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E8766901E9B7759004D6888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E87669B1E9B7759004D6888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
